---
layout: page
title: Projects
---
<!-- start of page -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gitgraph.js/1.11.4/gitgraph.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/gitgraph.js/1.11.4/gitgraph.min.css" />
<main role="main">
<article>
{% if page.title %}
<header>
    <h1>{{ page.title }}</h1>
</header>
{% endif %}

<canvas id="gitGraph"></canvas>

 <!-- Details divs -->
    <div id="detail-welcome" class="gitgraph-detail">
      <p>My list of projects</p>
      <p>Welcome to my list of projects</p>
    </div>

{% for post in site.projects | sort: 'date' %}
    <div id="detail-{{ post.title | Slugify }}" class="gitgraph-detail">
      <p><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></p>
      <p>{{ post.excerpt | strip_html }}</p>
      <p>keywords: {% for cat in post.categories %} {{cat}},  {% endfor %}</p>
    </div>
{% endfor %}

    <div id="detail-end" class="gitgraph-detail">
      <p>End of my list of projects</p>
      <p></p>
    </div>

<script type="text/javascript">
// ----------------------- MAIN GITGRAPH ----------------------- //
// /!\ Must be in last for window.onresize() event /!\

var gitgraph = new GitGraph({
  template: "blackarrow",
  author: ""
});

var projects = gitgraph.branch("projects");
  projects.commit({ message: "Welcome", detailId: "detail-welcome" });

/* branch then branch */

{% for post in site.projects | sort: 'date' %}
// {{ post.title }}

{% if post.spin-off != null%}
// post.spin-off == true
  {% if post.spin-off-from != null %}
			// post.spin-off-from == true
			{% for cat in post.spin-off %}
				var {{cat | remove: "-"}} = {{post.spin-off-from | remove: "-"}}.branch("{{cat | remove: "-"}}");
  		{% endfor %}
  {% endif %}
{% endif %}

  {% if post.categories == null  %}
    projects.commit({ message: "{{ post.title }}", detailId: "detail-{{ post.title | Slugify }}" });
{% else %}
{% for cat in post.categories %}
// {{ post.title }}: {{cat | remove: "-"}}
 {{cat | remove: "-"}}.commit({ message: "{{ post.title }}", detailId: "detail-{{ post.title | Slugify }}" });
 {% endfor %}
  {% endif %}

// merge-from >> cat
{% if post.merge-from != null%}
// post.merge-from == true
			{% for cat in post.categories %}
				{{post.merge-from | remove: "-"}}.merge("{{cat | remove: "-"}}");
  		{% endfor %}
{% endif %}

// merge-to << cat
{% if post.merge-to != null%}
// post.merge-to == true
			{% for cat in post.categories %}
				{{cat | remove: "-"}}.merge("{{post.merge-to | remove: "-"}}");
  		{% endfor %}
{% endif %}

//
{% endfor %}


  projects.commit({ message: "end", detailId: "detail-end" });
// ----------------------- NAV ----------------------- //
$(function(){
  var win = $(window);
  var head = $("header");
  
  // Links
  $("nav a").click(function(event){
    event.preventDefault();
    var margintop = parseInt($("section").css("marginTop"), 10) - 170;
    var position = $("#detail-"+event.target.id.split("-")[1]).position().top - margintop - 30;
    $('html, body').animate({scrollTop: position});
  });

  // Header hide/show on scroll
  win.scroll(function(event){
    if (win.scrollTop() < 180) {
      head.css("top", -win.scrollTop() + "px");
    } else {
      head.css("top", "-170px");
    }
  });
});
</script>
</article>
</main>
<!-- end of page -->
