---
layout: default
---
<main role="main">
<article>
<div style="text-align: center;">Welcome to the Online {{ site.name }} Catalog!<br />
Please select one of the options bellow.</div>

<nav style="margin-left: 14.5em;margin-top: 1em;margin-bottom: 1em;">
    <ol type="A">
        {% for item in site.data.navigation %}
        <li>
            <a style="border: 1px;padding: 1px;font-family: 'Glass_TTY_VT220';color: black;background: green;" href="{{ site.url }}{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ol>
</nav>

    <h1>Just Added:</h1>
<nav>
<table style="width:100%;">
<tr style="font-family: 'Glass_TTY_VT220';color: black;background: green;width:100%;"><td style="text-align:left;">Title</td><td></td><td style="text-align:right;">Date</td></tr>
{% for post in site.posts limit:10 %}
<tr style="width:100%;">
<td style="text-align:left;">{{ forloop.index }}. <a style="border: 1px;padding: 1px;font-family: 'Glass_TTY_VT220';color: black;background: green;" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></td>
<td></td>
<td style="text-align:right;"><time datetime="{{ post.date  | date_to_xmlschema }}">{{ post.date  | date_to_string }}</time></td>
</tr><tr style="width:100%;">
<td colspan="3">{{ post.excerpt | strip_html }}</td>
</tr>{% endfor %}
</table>
</nav>
</article>
</main>
