<footer  style="display: table-row; color:black; background: green; width: 100%; display: table; ">
<div style="color:black; background: green; display: table-row">
        <div style="color:black; background: green; display: table-cell; text-align: left;">
<a style="color:black; background: green;" href="{{ site.url }}/website/">(W)ebsite</a></div>
        <div style="color:black; background: green; display: table-cell;">
Standing by
</div>

        <div style="color:green; background: black; display: table-cell; text-align: left;">
<form action="{{ site.url }}search/" method="get">
  <input type="text" id="search-query" name="q" placeholder="" autocomplete="off">
</form>
</div>
</div>
</footer>
<script src="http://www.anrdoezrs.net/am/8187413/include/allCj/impressions/page/am.js"></script>
</body>

</html>
