<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="icon" href="{{ site.url }}/assets/img/favicon.png">
<link rel="stylesheet" href="{{ site.url }}/assets/css/fonts.css" type="text/css" charset="utf-8" />
<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/main.css">
<script src="https://use.fontawesome.com/8ada10233a.js"></script>

{% seo %}
</head>

<body
<header>
<table>
<tr>
<td style="text-align:left;">
<script type="text/javascript"><!--
var now = new Date();
var Month = new Array("JAN","FEB","MAR","APR","MAY","JUN","JUL","AUG","SEP","OCT","NOV","DEC");
document.write(now.getDate()+" "+Month[now.getMonth()]+" "+now.getFullYear());
//--></script></td>
<td><a style="" href="{{ site.url }}">{{ site.name }}</a></td>
<td style="text-align:right;" ><script type="text/javascript"><!--
var date_format = '12'; /* FORMAT CAN BE 12 hour (12) OR 24 hour (24)*/
var d 		= new Date();
var hour 	= d.getHours();  /* Returns the hour (from 0-23) */
var minutes     = d.getMinutes();  /* Returns the minutes (from 0-59) */
var result 	= hour;
var ext 	= '';
if(date_format == '12'){
	if(hour > 12){
		ext = 'PM';
		hour = (hour - 12);
	
		if(hour < 10){
			result = "0" + hour;
		}else if(hour == 12){
			hour = "00";
			ext = 'AM';
		}
	}
	else if(hour < 12){
		result = ((hour < 10) ? "0" + hour : hour);
		ext = 'AM';
	}else if(hour == 12){
		ext = 'PM';
	}
}
if(minutes < 10){
	minutes = "0" + minutes; 
}
result = result + ":" + minutes + ' ' + ext; 
document.write(result);
//--></script></td></tr>
</table>
</header>
