---
layout: page
title: Open Questions
permalink: /questions/index.html
---
<main role="main">
<article>

<div>These Open Questions have not been answered yet?<br />
<b>Ham/Packet Radio</b> are generally using 9.6Kbit modems <br />
( there has been experiments with off the shelf packet radio modem ( 100kbit+ ) )<br />
<br />
<b>DTN</b>:<br />
</div>
<nav>
<ol>
{% assign sortedQuestions = site.questions | sort: 'title' %}
{% for questions in sortedQuestions %}
{% if questions.title != 'Open Questions' %}
	<li>
<h2><a href="{{ questions.url }}">{{questions.title}}</a></h2>
{{ questions.excerpt | strip_html }}
</li>
{% endif %}
{% endfor %}
</ol>
</nav>
</article>
</main>
