---
---
@import "reset";
@import "config";
$black: #121010;
$green: green;
$main_text: IBM_MDA;
$secondary_text: Glass_TTY_VT220;


body { color: $green;background: $black; position: relative;font-family: $main_text;font-size:xx-large;
                header {
                        table {
                               font-family: '$main_text';color: $black;background: $green;width:100%; 
                              }
                       }
		  main {
			height: auto;
			min-height: 100%;
                        margin-top: 1em;margin-bottom: 1em;
			display: block;
                        header {
                                h1 {
	font-family:$secondary_text;
	text-align:center;
	color:$green;
	background:$black;
	/*! width:100%; */padding:1em;
	margin:1em;
	border:1px solid;
	display:block
                                              }
			                     }
			article {
				margin: auto;
				display: block;
		                     header {
                                             h1 {
	font-family:'Glass_TTY_VT220';
	text-align:center;
	color:green;
	background:black;
	/*! width:100%; */padding:1em;
	margin:1em;
	border:1px solid;
	display:block
                                              }
			                     }

                                             h1,h2,h3,h4,h5,h6 {
	font-family:'Glass_TTY_VT220';
	text-align:center;
	color:green;
	background:black;
	/*! width:100%; */padding:1em;
	margin:1em;
	border:1px solid;
	display:block
                                              }

						hr {
							text-align:      center;
							border:          none;
							padding: 2em;
							height:          0;
							line-height:     0;
							}

						hr:after {color: green;background: black;
								content:         "---------------------------------------";
								}
				}
		}
	}


body::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
}

body::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

