---
---
@import "reset";
@import "config";

$font-family:   Glass_TTY_VT220;
$primary-color: green;
$secondary-color: black;

body {
	color: green;
	background: black;
	font-family: 'IBM_MDA';
    font-size:xx-large;
	margin: 0px;
		a {
			color:black; background: green;font-family: 'IBM_MDA';
		}
		header {
			font-family: 'Glass_TTY_VT220';
			color:black; background: green; width: 100%; display: table;
			}
		main {
			height: auto;
			min-height: 100%;
            margin-top: 1em;margin-bottom: 1em;
			display: block;
					header { display: block; width: 100%; margin: auto;}

			article {
				color: green;
				background: black;
				font-family: 'IBM_MDA';
				margin: auto;
				display: block;
					header { display: block; }
                                        h1,h2,h3,h4,h5,h6 {padding: 0.5em; text-align: center;
						           margin: 1em;
                                                           color:green;
                                                           background: black;
                                                           font-family: 'Glass_TTY_VT220';
                                                           border: 2px solid green; }
					div {
						padding: 5px;
						display:block;
						}
					blockquote, pre, iframe, embed {
						color: green;
						background: black;
						padding: 0.5em;
						margin: 0.5em;
						border: 2px solid green;
						font-family: 'Glass_TTY_VT220';
					}
                                       #image_post {
						color: green;
						background: black;
						padding: 0.5em;
						margin: 0.5em;
						border: 2px solid green;
						font-family: 'Glass_TTY_VT220';
}
					nav {
						padding: 0.5em;
						margin: 0.5em;
						border: 2px solid green;
						display:block;
						}
						 ol {padding: 1.5em;
						     margin: 1.5em; display:block; list-style-position: inside;
							li {
								div {
									width: 100%;
									a { font-family: 'IBM_MDA';
										text-align:      left;
										}
									time {	font-family: 'Glass_TTY_VT220';
										text-align:      right;
										}
									}
								}
						
							}
					ul { padding: 1.5em;
				             margin: 1.5em; display:block;
						list-style-type: none; list-style-position: inside;
						li {
							text-indent: -1em;
							}
						li:before {
								font-family: 'IBM_MDA';
								content: "\25CF";
								float: left;
								width: 1em;
							}
						}
						hr {
							text-align:      center;
							border:          none;
							padding: 2em;
							height:          0;
							line-height:     0;
							}

						hr:after {color: green;background: black;
								content:         "---------------------------------------";
								}
					}
		}
	footer {
	font-family: 'Glass_TTY_VT220';
		color:black; background: green; width: 100%; display: table;
		a {font-family: 'Glass_TTY_VT220';}
 		}
	}
