---
---
@import "reset";
@import "config";
* {
	color: green;
	background: black;
	font-family: 'IBM_MDA';
        font-size:xx-large;
margin: 0px;
}

ul {
	list-style-type: none;
}

ul li
{
	text-indent: -1.4em;
}


ul li:before
{
	font-family: 'IBM_MDA';
	content: "\25CF";
	float: left;
	width: 1.4em;
}

hr {
    text-align:      center;
    border:          none;
padding: 2em;
    height:          0;
    line-height:     0;
    }

hr:after {
    content:         "---------------------------------------";
    }


main {
height: auto; min-height: 100%;
}
article {
	color: green;
	background: black;
	font-family: 'IBM_MDA';
margin: auto;
padding: 20px;
width: 60%;
display: block;
}
article header {
padding: 5px;
}
article h1,h2,h3,h4,h5,h6 {
text-decoration: underline;
padding: 5px;
}
article div {
padding: 5px;
}
a {
	color: black;
	background: green;
margin: 0px;

}


