<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{post.title}}</title>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <style>
</style>
  <script>
  $( function() {
    $( "#albums_accordion" ).accordion({
      heightStyle: "content",
      collapsible: true
    });
  } );
  </script>
    <script>
  $( function() {
    $( "#accordion" ).accordion({
      heightStyle: "content",
      collapsible: true
    });
  } );
  </script>
  <script>
  $( function() {
    $( "#tabs" ).tabs({
      beforeLoad: function( event, ui ) {
        ui.jqXHR.fail(function() {
          ui.panel.html(
            "Couldn't load this tab. We'll try to fix this as soon as possible. " );
        });
      }
    });
  } );
  </script>
</head>
<body background="{{post.background.image_url}}">
<div id="accordion">
	<h3>{{post.title}}</h3>
	<div>
	<div>{% for post.breakcrubs as breadcrub %}<a href="{{breadcub.url}}">{{breadcub.title}}</a> >{% endfor %} > {{post.title}} </div>
	<div id="tabs">
		<ul>
			<li><a href="#tabs-1">About Arist</a></li>
			<li><a href="#tabs-2">Albums/Songs</a></li>
			<li><a href="./copyright.html">Copyright Notice</a></li>
		</ul>
	<div id="tabs-1">
		<div css="align: left">
			<img src="{{post.photo}}" />
		</div>
		<p>{{post.content}}</p>
	</div>
  	<div id="tabs-2">
		<div id="albums_accordion">
		{% for post.level4 as level4 %}
			<h3>{{level4.title}}</h3>
			<div>
				<a href="https://www.youtube.com/watch?v=O17f3lB7BFY">youtube</a><br />
				<a href="https://www.youtube.com/watch?v=10u0VZHDiq0">english cover</a><br />
			</div>
			{% endfor %}
		</div>
	</div>  
</div>
</div>
</div>
<div>background image from {{post.background.source_url}}</div>
</body>
</html>
