---
layout: default
---
{% include jquery-ui.html %}
<main role="main">
<article>


<table id="myTable" class="tablesorter"> 
<thead>        

<tr> 
    <th>Title</th> 
    <th>Authors</th> 
    <th>Abstract</th> 
    <th>tags</th> 
    <th>cats</th> 
    <th>year</th>
</tr>       

</thead> 
<tbody> 
 {% for item in site.data.x3d.papers.models.LODing.outdoors.octree.octree %}
<tr> 
    <td><a href="{{ item.url }}">{{ item.title }}</a></td> 
    <td>{{item.authors}}</td> 
    <td>{{item.Abstract}}</td> 
    <td>{{item.tags}}</td> 
    <td>{{item.cat}}</td> 
    <td>{{item.year}}</td>
</tr> 
  {% endfor %}
<tr> 
        {% for item in site.data.x3d.papers.models.LODing.outdoors.tile.tile %}
<tr> 
    <td><a href="{{ item.url }}">{{ item.title }}</a></td> 
    <td>{{item.authors}}</td> 
    <td>{{item.Abstract}}</td> 
    <td>{{item.tags}}</td> 
    <td>{{item.cat}}</td> 
    <td>{{item.year}}</td>
</tr> 
  {% endfor %}
</tbody> 
</table> 
</article>
</main>
<script>$( "#tabs" ).tabs();

</script>
