---
layout: default
---
<!-- start of post -->
<main role="main">
<article>
{% if page.title %}
<header>
    <h1>{{ page.title }}</h1>
</header>
{% endif %}
<time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time>
{% if page.title %}
<div id=image_post" style="float:right; padding:10px;" >
{% assign path = {{ page.image }} %}
{% assign alt = {{ page.title }} %}
{% responsive_image_block %}
    path: assets/img/_originals/{{ page.image }}
    alt: {{ alt }}
{% endresponsive_image_block %}
</div>
{% endif %}
        {{ content }}
</article>
<nav>
</nav>
</main>
<!-- end of post --!>
