---
layout: default
pagination:
  enabled: true
---
<!-- start of post -->
{% include jquery-ui.html %}

<main role="main">
{% if page.title %}
<header>
    <h1>{{ page.title }}</h1>
</header>
{% endif %}

<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Main (F2)</a></li>
		<li><a href="#tabs-2">Meta (F3)</a></li>
		{% if page.comments == true %}<li><a href="#tabs-3">Comments (F4)</a></li>{% endif %}
	</ul>
<article id="tabs-1">
{% include image.html %}
        {{ content }}
</article>
<aside id="tabs-2">
<p>Date: <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time></p>
<p>Author: Tom Sparks</p>
<p>Permalink: {{site.url}}{{ page.url }}</p>
</aside>
    {% if page.comments == true %}
<aside id="tabs-3">
      {% include comments.html %}
</aside>
{% endif %}
</div>
<div>
  {% if page.previous.url %}
    <a  href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
</div>
</main>
<script>$( "#tabs" ).tabs();

</script>
<!-- end of post -->
