---
layout: default
pagination: 
  enabled: true
---
<!-- start of project_page -->
<main role="main">
<article  class="h-entry">  
<div class="container">
{% if page.title %}
<header class="jumbotron subhead" id="overview">
 <div class="container">
    <h1 class="lead p-name">{{page.categories }}: {{ page.title }}</h1>
  </div>
</header>
{% endif %}
<div id="author" style="padding:1em;margin:1em;float:right;border:1px solid;">
{% include author.html %}
</div>
 <div class="e-content">
       				{% include image.html %}
        {{ content }}
        </div>
  <div>
</article>
<ul class="pager">
<li><a href="{{page.categories}}-index.html">UP</a></li>
{% if page.categories == "alt-dtn" %}
<li><a herf="alt-dtn/papers.html">Papers</a> </a herf="alt-dtn/ebook/">Ebook</a></li>
{% endif %}
{% if page.categories == "wmn" %}
<li><a herf="alt-dtn/papers.html">Papers</a> </a herf="alt-dtn/ebook/">Ebook</a></li>
{% endif %}
</ul> 
       {% include  pagination.html %}
    {% if page.comments == true %}
      {% include post-comments.html %}
{% endif %}

</main>

<!-- end of project_page -->
