---
layout: default
---
{% include jquery-ui.html %}
<main role="main">
<article>
<div></div>
<div id="tabs">
	<ul>
        {% for linksdir in site.data.blogroll %}
        <li>
            <a href="#{{ linksdir.title | slugify }}">{{ linksdir.title }} (F{{ forloop.index }})</a>
        </li>

        {% endfor %}
	</ul>
        {% for linksdir in site.data.blogroll %}
<section id="{{ linksdir.title | slugify }}">
<div>{{ item.description }}</div>
    <ol>
        {% for item in site.data.blogroll.linksdir.links %}
        <li>
            <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ol>
</section>
        {% endfor %}
</div>
</article>
</main>
<script>$( "#tabs" ).tabs();

</script>
